/*change background image
change font
we want the day of the week to stay bold, but not the year or month
we also want to add aline below the date and another line above the task box*/
html {
  background-image: url('background.jpeg');
  color: white;
}

.container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin: 4rem 1.5rem;
}

.tasks-box,  .calender-box{
  display: flex;
  color: rgb(64, 64, 111);
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: 37rem;
  height: 37rem;
  margin:0 1.5rem;
  flex-direction: column;
  justify-content: space-between
}
.full-date {
  display: inline-flex;
  align-items: center;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}
#date {
  font-size: 4rem;
  padding:2rem;
  margin: 0;
}
#add-task-box {
  width: 28rem;
  height: 3rem;
  border-radius: 1.5rem;
  margin-top: 2rem;
  padding: 0 1rem;
}

#add-task-button {
  border-radius: 1.5rem;
  height: 3rem;
  width: 6rem;
  margin-left: 0.3rem;
}
